/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

#canvas {
  /* width: 500px;
  height:300px; */
  border: 4px solid pink;
  margin-left: 50px;
}

/* 
@font-face{
  font-family: myFirstFont;
  src: url(get_schwifty.woff)
}
#main-container {
font-family: myFirstFont; */

/* } */