/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

#main-container {
  height: 100%;
  background-image: url("http://0.media.dorkly.cvcdn.com/59/97/9878d8d71b1c56bf9b7c8631ed6c4cd8.gif");
  background-repeat: no-repeat;
  background-size:  cover;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90px;
  color: #4197a8;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

#btn-start {
  /* height: 50px;
  width: 100px;
   */
  background:rgb(10, 161, 22);
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size: 20px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}

#canvas {
  /* width: 500px;
  height:300px; */
  border: 4px solid black;
  margin-left: 300px;
  margin-top: 80px;
}

#restart-container {
  background-image: url('../images/my-man.gif');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90px;
  color: #4197a8;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#restart-container h1 {
  margin-top: 0;
}


#btn-restart {
  /* height: 50px;
  width: 180px;
  margin-left: 120px; */
  background:rgb(10, 161, 22);
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size: 20px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;




}

#game-container {
 height: 100%;
 background-image: url("https://media.giphy.com/media/AbgiE2SQjLHLW/giphy.gif");
 background-repeat: no-repeat;
 background-size: cover;
}

@font-face{
  font-family: myFirstFont;
  src: url(../fonts/get_schwifty.ttf)
}
#main-container {
font-family: myFirstFont;

}